@* @model IEnumerable<Employee_Details_Manage_Auto_BirthDay_Mail.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Emp_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Emp_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Emp_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
 *@

                @model IEnumerable<Employee_Details_Manage_Auto_BirthDay_Mail.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Employee List</h2>
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email_ID)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email_ID)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Emp_ID">Edit</a>
@*                             <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Emp_ID">Details</a>
 *@                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Emp_ID" onclick="confirmDelete()">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
      <script>
          function confirmDelete()
      {
        var result= confirm("Are You Want to Remove This Employee");
        // if(result==true)
        // {
        //     document.querySelector('deleteForm').sub
        // }
      }
      </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
